<div>
	<a ui-sref="reports" class="pull-right btn btn-primary btn-outline btn-rounded">Reports</a>
	<span class="glyphicon glyphicon-globe bg-fade"></span>

	<h2>Overview</h2>
	<div class="jumbotron">
		<p>This page will display the following data:</p>
		<ul>
            <li><p>Get an overview of the UCL population performance</p></li>
            <ul>
              <li><p>Active Minutes</p></li>
              <li><p>Sleep Duration</p></li>
              <li><p>Physical Activity Type Preferred</p></li>
            </ul>
            <li type="square"><p>Get activity patterns</p></li>
            <ul>
              <li><p>How do people get to work? Cycle/Walk/Bus? What are the rush hours?</p></li>
              <li><p>What is the distance travelled?</p></li>
              <li><p>How much time did they spend travelling and how much of the time spent contributed to a physical activity? What are the most frequented UCL places? (based on users’ location)</p></li>
            </ul>
            <li><p>Further development of UCL students well being</p></li>
            <ul>
              <li><p>Does stress during exam period affect sleep duration and nutrition?</p></li>
              <li><p>Does sleep, activity and nutrition contribute to the student performance?</p></li>
            </ul>
          </ul>
		<a class="btn btn-primary btn-lg btn-outline btn-rounded">Learn more</a>
	</div>
</div>