<html ng-app="yapp">

<head>
  <meta charset="utf-8">

  <!-- it's important for d3.js -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/d3/d3.js"></script>
  <script src="bower_components/nvd3/nv.d3.js"></script>
  <!-- or use another assembly -->
  <script src="bower_components/angular-nvd3/dist/angular-nvd3.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.1/nv.d3.min.css" />
</head>

<body ng-controller="ReportCtrl">
  <a ui-sref="overview" class="pull-right btn btn-primary btn-outline btn-rounded">Back to Overview</a>
  <h2>Reports</h2>
  <span class="glyphicon glyphicon-grain bg-fade"></span>

<form>
    Search Patient: <input type="text" ng-model="name">
</form>
<p>The patient you're searching for is: {{name}}</p>

<table class="table table-bordered table-striped">
    
    <thead>
      <tr>
        <td>
          <a href="#" ng-click="sortType = 'first_name'">
          <span ng-show="sortType == 'first_name'" class="fa fa-caret-down"></span>
            First Name 
          </a>
        </td>
        <td>
          <a href="#" ng-click="sortType = 'last_name'">
          <span ng-show="sortType == 'last_name'" class="fa fa-caret-down"></span>
          Last Name
          </a>
        </td>
        <td>
          <a href="#" ng-click="sortType = 'city'">
          <span ng-show="sortType == 'city'" class="fa fa-caret-down"></span>
           City
          </a>
        </td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in patient |orderBy:sortType:sortReverse">
        <td>{{ item.resource.name[0].given[0]}}</td>
        <td>{{ item.resource.name[0].family[0] }}</td>
        <td>{{ item.resource.address[0].city }}</td>
      </tr>
    </tbody>
    
  </table>

  <div class="jumbotron"> <nvd3 options="options1" data="data1"></nvd3> </div>
  <div class="jumbotron"> <nvd3 options="options2" data="data2"></nvd3> </div>
  <div class="jumbotron"> <nvd3 options="options3" data="data3"></nvd3> </div>
  <div class="jumbotron"> <nvd3 options="options4" data="data4"></nvd3> </div>
  <div class="jumbotron"> <nvd3 options="options5" data="data5"></nvd3> </div>
</body>

</html>