<html ng-app="yapp">

<head>
  <meta charset="utf-8">

  <!-- it's important for d3.js -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/d3/d3.js"></script>
  <script src="bower_components/nvd3/nv.d3.js"></script>
  <!-- or use another assembly -->
  <script src="bower_components/angular-nvd3/dist/angular-nvd3.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.1/nv.d3.min.css" />
</head>



<body ng-controller="ReportCtrl">
  <a ui-sref="overview" class="pull-right btn btn-primary btn-outline btn-rounded">Back to Overview</a>
  <h2>Reports</h2>
  <span class="glyphicon glyphicon-grain bg-fade"></span>

  <style>
    table, th, td {
     border: 1px solid black;
     padding:5px;
   }
   table {
     border-collapse: collapse;
     margin:10px;
   }
 </style>
 <body>
  <button ng-click="readCSV()">
    Display CSV as Data Table
  </button>
  <div id="divID">
    <table>
      <tr ng-repeat="x in data">
        <td ng-repeat="y in x">{{ y }}</td>
      </tr>
    </table>
  </div>
  <div>
    <table>
    </table>
  </div>

<!-- <div id = "chart1">
  <svg></svg>
</div> -->

  <div class="jumbotron"> <nvd3 options="options1" data="data1"></nvd3> </div>
  <div class="jumbotron"> <nvd3 options="options2" data="data2"></nvd3> </div>
  <div class="jumbotron"> <nvd3 options="options3" data="data3"></nvd3> </div>
  <div class="jumbotron"> <nvd3 options="options4" data="data4"></nvd3> </div>
  <div class="jumbotron"> <nvd3 options="options5" data="data5"></nvd3> </div>
</body>

</html>