<html  ng-app="yapp">

	<head>
		<meta charset="utf-8">  <!-- it's important for d3.js -->
		<script src="bower_components/angular/angular.js"></script>
		<script src="bower_components/d3/d3.js"></script>
		<script src="bower_components/nvd3/nv.d3.js"></script> <!-- or use another assembly -->
		<script src="bower_components/angular-nvd3/dist/angular-nvd3.js"></script>
		<link rel="stylesheet" href="bower_components/nvd3/nv.d3.css">
	</head>

	<body ng-controller="ReportCtrl">
		<a ui-sref="overview" class="pull-right btn btn-primary btn-outline btn-rounded">Back to Overview</a>
		<h2>Reports</h2>
		<span class="glyphicon glyphicon-dashboard bg-fade"></span>
		<div class="jumbotron">
	        	<nvd3 options="options" data="data"></nvd3>
		</div>
	</body>
</html>