 <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<div class="login-page">
  <div class="row">
    <div class="col-lg-4  col-lg-offset-4">

    <a ui-sref="login" class="pull-right btn btn-primary btn-outline btn-rounded">Back</a>
    <h2 align="center">UCL Active Project</h2>

    <body ng-app="theproject"> 
      <md-card style="background: #565051; margin-left: 0px; margin-right: 0px; margin-top: 50px;">
         <md-card-header>
            <md-card-avatar>
               <img class="md-user-avatar" src="images/flat-avatar.png">
            </md-card-avatar>
            <md-card-header-text>
               <span class="md-headline">The Project</span>
               <span class="md-subhead">What is going on?</span>
            </md-card-header-text>
         </md-card-header>
         <md-card-content>
            <p>The purpose of the project is to develop a UCL data store, to aggregate and manage fitness and lifestyle data submitted by UCL staff and students. UCL will protect the anonymity of the contributors and will have oversight of the ways in which this growing data set will be used to further research in digital health analytics.</p>
         </md-card-content>
      </md-card>

      <md-card style="background: #565051; margin-left: 0px; margin-right: 0px; margin-top: 50px;">
         <md-card-header>
            <md-card-avatar>
               <img class="md-user-avatar" src="images/flat-avatar.png">
            </md-card-avatar>
            <md-card-header-text>
               <span class="md-headline">The Vision</span>
            </md-card-header-text>
         </md-card-header>
         <md-card-content>
            <p>Our vision is to improve physical and mental wellbeing by creating a community of physically active people engaged in sports, both inside and outside UCL and its partners.</p>
            <p>We seek to apply UCL’s interdisciplinary approach to the Grand Challenge of Human Wellbeing to improve physical (and consequently mental) resilience among our staff and students; to encourage behavioral change in the broader community.</p>
            <p>Our vision is aligned with UCL 2034 to apply our scholarly knowledge to contribute to improving the sporting performance of amateurs and elites worldwide.</p>
         </md-card-content>
      </md-card>

   </body>

   </div>
  </div>
</div>